nav{
    background-color:white;
    text-align: center;
}
body{
    background-color: blanchedalmond;
}
div{
    background-color: whitesmoke;
    background-attachment: white;
    width: 80%;

}
footer{
    background-color: black;
    color: white;
    text-decoration: none;
}